/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

:root {
  --primary-color: #0691f4;
  --secodary-clor: #ccc;
  --white: #fff;
  --black: #000;
  --error: #f8061b;
  --success: #05eb8b;
}

/*=================================
  main styling starts here
=================================*/
.wheather {
  background: url(https://images.unsplash.com/photo-1631205870679-9946c2265a96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80/1600x900/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.wrapper { min-height: 100vh; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  align-items: flex-start;
  flex-direction: column;
}

.input-group {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}

.search {
  padding: 25px 5%;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  opacity: .75;
}

.wrapper.active .search { padding: 20px 7%; }

.heading {
  padding-bottom: 25px;
  display: block;
  position: relative;
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
}

.wrapper.active .heading::before {
  content: "\f104";
  position: absolute;
  top: 1px;
  left: -25px;
  font-family: "FontAwesome";
}

.input-content {
  padding: 7px 3%;
  border: 2px solid var(--secodary-clor);
  border-radius: 8px;
  font-size: 18px;
  outline: none;
  transition: all .3s ease-in-out;
}

.input-content.fail { border-color: var(--error); }
.input-content.success { border-color: var(--success); }

.error {
  font-size: 14px;
  visibility: hidden;
}

.error.fail {
  color: var(--error);
  visibility: visible;
}

.error.success {
  color: var(--success);
  visibility: visible;
}

.btn {
  padding: 7px 12.7%;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  background: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--white);
  border-color: var(--primary-color);
}

.btn::before {
  content: "OR";
  position: absolute;
  top: -40px;
  left: 43%;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

.wrapper.active .my-form { display: none; }
.show-weather { display: none; }

.wrapper.active .show-weather {
  display: flex;
  flex-direction: column;
}

.wheather-heading {
  margin: 5px 0 20px 0;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
}

.temp ,
.description,
.wind-speed,
.humidity {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.icon {
  width: 40%;
  filter:brightness(5.5);
}

/*=================================
  main styling ends here
=================================*/
/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}